<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--  to above line, add debug="true" to see logback spew to test logger problems -->

    <appender name="scs-plugin-console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.palantir.stash.codesearch" level="TRACE">
        <appender-ref ref="scs-plugin-console" />
    </logger>


    <!-- we probably don't want to change the root logger, should inherrit from existing config this way.
    <root level="INFO"/>
     -->
</configuration>
